<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/common.css" />
  <link rel="stylesheet" href="/styles/document.css" />
  <link rel="stylesheet" href="/styles/table_of_contents.css" />
  <!-- <link rel="stylesheet" href="/static/figure_zoom.css" /> -->

  <link rel="stylesheet" href="/katex/katex.min.css"/>
  <link href="/fonts/computer-modern/fonts/serif.css" rel="stylesheet">
  <link href="/fonts/computer-modern/fonts/sans.css" rel="stylesheet">
  <link rel="preload" href="/fonts/inter/InterVariable.ttf" as="font" type="font/ttf">
</head>

<body>
  <aside class="left">
    {% if back_url %}
    <div class="back">
      <a href="/{{ back_url }}" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-arrow-left">
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg> {{ back_label }}
      </a>
    </div>
    {% endif %}

    <nav class="toc-wrapper">
      {{ toc_html | safe }}
    </nav>
  </aside>

  <main class="right">{{ html | safe }}</main>

  <script defer src="/katex/katex.min.js"></script>
  <script src="/js/math_rendering.js"></script>

  <script src="/js/table_of_contents.js"></script>

  <script>
    window.addEventListener("load", renderMath);
  //   window.addEventListener("load", initFigureZoom);
  //   window.addEventListener("load", initTOC);
  //   window.addEventListener("load", () => {
  //     const new_files = document.querySelectorAll(".new-file")
  //     new_files.forEach(hr => {
  //       const btn_container = document.createElement("div")
  //       btn_container.classList.add("new-file-btn-container")
  //       btn_container.innerHTML = '<a href="/live?path=' + hr.dataset.filepath + '" class="preview-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>Live preview</a>'
  //       hr.insertAdjacentElement("afterend", btn_container);
  //     })
  //   })
  </script>

  <script>
    window.addEventListener("beforeprint", (event) => {
      for (const detailEl of document.querySelectorAll("details")) {
        if (detailEl.getAttribute("open") == null) {
          detailEl.setAttribute("data-was-closed", "true");
        }
        detailEl.setAttribute("open", "");
      }
    });

    window.addEventListener("afterprint", (event) => {
      for (const detailEl of document.querySelectorAll("details")) {
        if (detailEl.getAttribute("data-was-closed") != null) {
          detailEl.removeAttribute("data-was-closed");
          detailEl.removeAttribute("open");
        }
      }
    });
  </script>
</body>

</html>
