<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/common.css" />
  <!-- <link rel="stylesheet" href="/static/course.css" /> -->
  <!-- <link rel="stylesheet" href="/static/table_of_contents.css" /> -->
  <!-- <link rel="stylesheet" href="/static/figure_zoom.css" /> -->

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" -->
  <!--   integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous" /> -->

  <!-- <link rel="stylesheet" type="text/css" -->
  <!--   href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css" /> -->

  <!-- <link rel="preconnect" href="https://rsms.me/" /> -->
  <!-- <link rel="stylesheet" href="https://rsms.me/inter/inter.css" /> -->
</head>

<body>
  {% if back_url %}
  <div class="back">
    <a href="/{{ back_url }}" class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-arrow-left">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg> {{ back_label }}
    </a>
  </div>
  {% endif %}

  <div id="app">{{ html | safe }}</div>

  <!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" -->
  <!--   integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" -->
  <!--   crossorigin="anonymous"></script> -->
  <!---->
  <!-- <script src="/static/math_rendering.js"></script> -->
  <!-- <script src="/static/table_of_contents.js"></script> -->
  <!-- <script src="/static/figure_zoom.js"></script> -->

  <!-- <script> -->
  <!--   window.addEventListener("load", renderMath); -->
  <!--   window.addEventListener("load", initFigureZoom); -->
  <!--   window.addEventListener("load", initTOC); -->
  <!--   window.addEventListener("load", () => { -->
  <!--     const new_files = document.querySelectorAll(".new-file") -->
  <!--     new_files.forEach(hr => { -->
  <!--       const btn_container = document.createElement("div") -->
  <!--       btn_container.classList.add("new-file-btn-container") -->
  <!--       btn_container.innerHTML = '<a href="/live?path=' + hr.dataset.filepath + '" class="preview-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>Live preview</a>' -->
  <!--       hr.insertAdjacentElement("afterend", btn_container); -->
  <!--     }) -->
  <!--   }) -->
  <!-- </script> -->

  <!-- <script> -->
  <!--   window.addEventListener("beforeprint", (event) => { -->
  <!--     for (const detailEl of document.querySelectorAll("details")) { -->
  <!--       if (detailEl.getAttribute("open") == null) { -->
  <!--         detailEl.setAttribute("data-was-closed", "true"); -->
  <!--       } -->
  <!--       detailEl.setAttribute("open", ""); -->
  <!--     } -->
  <!--   }); -->
  <!---->
  <!--   window.addEventListener("afterprint", (event) => { -->
  <!--     for (const detailEl of document.querySelectorAll("details")) { -->
  <!--       if (detailEl.getAttribute("data-was-closed") != null) { -->
  <!--         detailEl.removeAttribute("data-was-closed"); -->
  <!--         detailEl.removeAttribute("open"); -->
  <!--       } -->
  <!--     } -->
  <!--   }); -->
  <!-- </script> -->
</body>

</html>
