body {
  --bg-color: #11111b;
  --bg-greyed: #45475a23;
  --text-color: #cdd6f4;
  --subtext-color: #45475a;
  --red-color: #f38ba8;
  --accent-color: #89b4fa;
  --on-accent-color: black;
  --links-color: #89b4fa;
  --code-bg-color: #ffffff0a;
  --code-color: #666;
  --input-background-color: #1e1f2c;
}

@media print {
  body {
    --bg-color: white;
    --bg-greyed: #7c7f9323;
    --text-color: black;
    --subtext-color: #7c7f93;
    --red-color: #e64553;
    --accent-color: #89b4fa;
    --on-accent-color: black;
    --links-color: #89b4fa;
    --code-bg-color: #eee;
    --code-color: #333;
    --input-background-color: #ccc;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

::-moz-selection {
  background: var(--subtext-color);
}

::selection {
  background: var(--subtext-color);
}

body {
  padding: 10vh 20vw;
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media screen and (max-width: 1000px) {
  body {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 2rem 1rem;
  }
}

@media print {
  body {
    padding: 0 !important;
  }
}

.back {
  margin-bottom: 1.5rem;
  display: none;
  justify-content: space-between;
}

.back-button {
  font-family: Inter, sans-serif;
  font-size: initial;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  z-index: 10000;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--subtext-color);
  }

  & svg {
    color: var(--text-color);
    filter: initial;
    width: 1em;
    vertical-align: text-top;
    margin-right: 0.8ch;
  }
}

.back-button {
  transform: translateX(-0.5rem);
}

.preview-button {
  transform: translateX(0.5rem);
}

/* Only show on desktop */
@media screen and (min-width: 1000px) {
  .back {
    display: flex;
  }
}
